
$MainColor: #F5F5F5;
$MainFont: roboto;
$SecondaryColor: #1D9BF0;

html{
    scroll-behavior: smooth;
}
body, *{
    background-color: $MainColor;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $MainFont;
    text-decoration: none;
}

// Nav Section
nav{
    position: sticky;
    top: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: none;
    margin-left: 50vh;
    padding: 0 10px;

    .nav-btn{
        border: 2px solid black;
        justify-content: center;
        padding: 10px;
        border-radius: 15px;
        color: black;
        margin: 1vh;
        
    }
}

#title{
    background-color: $SecondaryColor;
    padding: 2vh;
    border-radius: 10px;
    transition: width 2s, height 2s, transform 2s;
}

#title:hover{
    transform: rotate(360deg);
}

.nav-btn:hover{
    background-color: $SecondaryColor;
    transition: 1s;
}


// Main Content
main{
    margin-top: 30px;
    text-align: center;
    align-items: center;

    .mainContainer{
        margin-top: 10vh;
        display: flex;
        justify-content: center;
        align-items: end;
    }

}

#imgMain{
    width: 500px;
    height: 600px;
    border-radius: 10px;
    transition: width 2s, height 2s, transform 2s;
}

#imgMain:hover{
    width: 700px;
    border-radius: 50px;
    transform: rotate(360deg);
}

#welcomeNotes{
    background-color: $SecondaryColor;
    padding: 10vh;
}

#mainQoutes{
    margin-left: 5vh;
    text-align: justify;
}

#RecoveryContainer{    
    display: grid;
    align-items: end;
    margin-top: 10vh;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
    gap: 30px;

    #recovery{
        border-radius: 20px;
        grid-column-start: 2;
        width: 500px;
    }

    #RecoveryQuotes{
        margin-left: 50vh;
        grid-column-start: 1;
        text-align: justify;
    }
}




#TurfZoneContainer{
    display: grid;
    align-items: end;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 50vh;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;  

    #TurfZone{
        border-radius: 20px;
        width: 500px;
    }

    #TurfZoneQuotes{
        text-align: justify;
    }
}

#ImgFacilitiesCointainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    align-items: center;
    
    .facilities-Img{
        width: 500px;
        border-radius: 10px;
    }
}

// Footer
footer{
    text-align: center;
    margin-top: 30vh;

    #mainFooter{
        
        background-color: $SecondaryColor;
        padding: 3vh;
    }
}