
$MainColor: #F5F5F5;
$MainFont: roboto;
$SecondaryColor: #1D9BF0;


body,*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: $MainColor;
    text-decoration: none;
    font-family: $MainFont;
}


nav{
    position: sticky;
    top: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: none;
    margin-left: 50vh;
    padding: 0 10px;

    .nav-btn{
        border: 2px solid black;
        justify-content: center;
        padding: 10px;
        border-radius: 15px;
        color: black;
        margin: 1vh;
        
    }
}

#title{
    background-color: $SecondaryColor;
    padding: 2vh;
    border-radius: 10px;
    transition: width 2s, height 2s, transform 2s;
}

#title:hover{
    transform: rotate(360deg);
}

.nav-btn:hover{
    background-color: $SecondaryColor;
    transition: 1s;
}